@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Roboto Mono", monospace;
}

body {
    display: flex;
    justify-content: center;

    height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

main {
    width: 50%;
    margin: 50px;

    background-color: #f4f6fa;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}